<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Konversi Mata Uang</title>
</head>
<body>
    <h1>Aplikasi Konversi Mata Uang</h1>
    <ul>
        <li><a href="/convert/usd">USD -> IDR</a></li>
        <li><a href="/convert/myr">MYR -> IDR</a></li>
        <li><a href="/convert/eur">EUR -> IDR</a></li>
        <li><a href="/convert/yen">YEN -> IDR</a></li>
    </ul>
</body>
</html>
